<h1>Welcome to your dashboard</h1>


<div class="tabbable span4">
  <div id="content">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="active"><a href="#browse" data-toggle="tab" id="browse_tab">Browse</a></li>
          <li><a href="#hist" data-toggle="tab" id="history_tab">History</a></li>
          <li><a href="#wish" data-toggle="tab" id="wish_tab">Wishlist</a></li>

      </ul>
      <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="browse">
            <form class="brewery-search">
              <input type="text" class="input-medium search-query" id='brewery'>
              <button type="submit" class="btn">Search</button>
              <p><b>Find brewery by name..</b></p>
            </form>
            <ul id='breweries'></ul>
          </div>
          <div class="tab-pane" id="hist">
              <p>I've been here!</p>
          </div>
          <div class="tab-pane" id="wish">
              <p>We still have to check these places out!</p>
          </div>
      </div>
  </div> <!-- content -->
</div> <!-- tabbable -->


<div id="map-canvas" class="span7"></div>

<script id="li-template" type="text/x-handlebars-template">
  <li><b>{{brewery}}</b></li>
  <button id="wish-button" onClick="wishClick()">Add to Wishlist</button>
  <button id="history-button" onClick="historyClick()">Add to History</button>
</script>

<script>
function initialize() {
  var mapOptions = {
    zoom: 2,
    center: new google.maps.LatLng(20, 0),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
      'callback=initialize';
  document.body.appendChild(script);
}

function listenMarker(marker, infowindow){
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map, marker);
    // infowindow.close();
  });
}

var breweryId = '';
var markers = [];
// *******  wire up tabs  ***********

// history tab will clear map and only put pins of where user has been
$('#history_tab').on('click', function(){
  // alert(markers.length);
    // clear map
    for(var i=0; i<markers.length; i++){
      markers[i].setMap(null);
    }
    // get all history elements from rails database. Populate markers with that info and put pins on map
    $.get('/histories', function(data){

      markers = []; // empty markers array
      // use brewery ids to get location info from brewery_db and push marker objects to array
      for(var i=0; i<data.length; i++){
        $.get('/lsearch', {ids: data[i].brewery_id}, function(data){
          var coordinates = new google.maps.LatLng(data[0].latitude, data[0].longitude);
          console.log(data[0]);
          // infowindow = new google.maps.InfoWindow({
          //   content: data[0].brewery.name+'<br>'+data[0].street_address+'<br>'+data[0].phone+'<br>'+data[0].brewery.website });
          pin = new google.maps.Marker({
              position: coordinates,
              map: map });
          // markers.push(pin);
          // listenMarker(pin, infowindow);
         // pin.setMap(map);

        });

      }
      map.setZoom(2);
      // map.setCenter(coordinates);
    }, 'json');

});
// ******* End Wire Up Tabs ************

// On submit. find brewery, display it as list item get its coordinates, map pin
$('.brewery-search').on('submit', function(e){
  e.preventDefault();
  var brewery = document.getElementById('brewery').value;
  var template = Handlebars.compile( $('#li-template').html() );

  $.get('/search_by_id', {}, function(data){
    console.log(data);

  });

});// ----> end submit handler


// Wishlist handler
function wishClick(){
  // $.post( url [, data ] [, success(data, textStatus, jqXHR) ] [, dataType ] )
  $.post('/favorites', {brewery_id: breweryId}, function(data){
    console.log(data);
  }, 'json');
}
// -----> end Wishlist handler


// History handler
function historyClick(){
  // $.post( url [, data ] [, success(data, textStatus, jqXHR) ] [, dataType ] )
  $.post('/histories', {brewery_id: breweryId, userID: <%= current_user.id %>}, function(data){
    console.log(data);
  }, 'json');
}
// -----> end History handler

$(document).ready(function() {
  loadScript();
  $('#tabs').tab();
});

</script>


















