// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tabbable{
  float: left;
  height: 100%;
  padding-top: 80px;
}

/*.tab-content {
  float: left;
  width: 100%;
}*/

#map-canvas{
  float: left;
  height: 450px;
  margin-top: 70px;
  /*display: none;*/
}
