// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas{
  float: right;
  height: 450px;
  border-style: solid;
  padding-right: 10px;
  padding-top: 40px;
}

#location-search{
  padding: 40px 0px 0px 10px;
  border-style: solid;
  background-color: #99bbdb;
  opacity: 1;
}


h4{
  font: 25px Bira;
}
